$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$mobile-horizontal-padding: 1rem;
$tablet-horizontal-padding: 2.25rem;
$desktop-horizontal-padding: 7rem;

$color-primary-1: #13182C;
$color-primary-2: #2E66E5;
$color-primary-3: #FFFFFF;
$color-secondary-1: #5C667E;
$color-secondary-2: #BDC5D5;
$color-background: #232940;
$color-background-2: #F7F8F9;
$color-supporting: #158463;
$color-supporting-2: #C94515;